<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
	    <!--<property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=dbpaw_;</property>-->
	    <property name="connection.url">jdbc:sqlserver://217.113.235.83:1433;databaseName=dbpaw_;</property>
	    <property name="connection.username">paw_db_user</property>
	    <property name="connection.password">haslo1234</property>
        <property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>  
 
        <!-- DB schema will be updated if needed -->
        <!--<property name="hbm2ddl.auto">update</property> -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hibernate.c3p0.timeout">10</property>
 
        <mapping class="com.paw.servertrello.models.BoardModel"></mapping>
        <mapping class="com.paw.servertrello.models.ListModel"></mapping>
        <mapping class="com.paw.servertrello.models.ListitemModel"></mapping>
        <mapping class="com.paw.servertrello.models.CommentModel"></mapping>
        <mapping class="com.paw.servertrello.models.UserModel"></mapping>
        <mapping class="com.paw.servertrello.models.BoardaccesstableModel"></mapping>
    </session-factory>
</hibernate-configuration>